extends layout/main.pug


include ../blocks/sContent/_sContent.pug
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= null

block title
	- let  title= 'Модальные окна'
	title= title
block pagecontent
	+mob-mnu()
	//- +header()
	+top-nav()
	//- +topLine()
	.section.container
		.row
			mixin btn(id, name)
				.col-auto.mb-2
					a.btn.btn-primary(href=`#` data-src=id data-fancybox="modal")= name
			+btn("modal-call", "modal-call")
	+footer



